.container {
    display: flex;
    flex-direction: row;
}

h1 {
    margin: 0;
}

#terrain {
    position: relative;
    height: 90vh;
    width: 50vw;
    background-image: url("./images/stade2.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.joueur {
    font-family: 'Tourney', 'Courier New', Courier, monospace;
    font-size: 1.3em;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    background-color: transparent;
    background-image: url("./images/icone.png");
    background-size: cover;
}


#banc {
    text-align: center;
    font-family: 'Tourney', 'Courier New', Courier, monospace;
    color: white;
    height: 45vh;
    width: 50vw;
    background-image: url("./images/gazon.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    border-bottom: 4px solid white;
}

#absents {
    text-align: center;
    font-family: 'Tourney', 'Courier New', Courier, monospace;
    color: white;
    height: 45vh;
    width: 100%;
    background-image: url("./images/gazon.png");
    background-size: cover;
}

.name {
    text-align: center;
    position: relative;
    margin-bottom: -8vh;
}

@media (min-width: 768px) {

    #terrain,
    #banc {
        width: 30vw;
    }
}